# SPDX-License-Identifier: 0BSD
# last update: 2026-02-04
# https://github.com/hannob/codingstyle
---
name: runpyci
"on":
  - pull_request
  - push

jobs:
  build:
    strategy:
      matrix:
        python-version: [3.12, 3.x]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }} ${{ matrix.os }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies and linters
        run: |
          [ -e requirements.txt ] && pip install -r requirements.txt
          pip install dlint pycodestyle pyflakes pylint pyproject pyupgrade ruff
      - name: Run tests
        env:
          RUN_ONLINETESTS: 1
        run: |
          PYTHONWARNINGS=e ./badkeys-cli --update-bl  # CUSTOM
          ./runpyci.sh
